# Бинарные файлы Go
/bin/
/build/
/*.exe
/*.out
/*.exe~
/*.test

# Каталоги, используемые go mod (зависимости)
/vendor/

# Файлы тестов Go
*.test
*.out

# IDE и редакторы
.idea/
.vscode/
*.swp

# Логи
*.log

# Директории кэша
*.cache
*.tmp

# Переменные окружения
.env
